{{ form_start(form) }}
    <div class="my-3">
        {{ form_row(form.name) }}
    </div>
    <div class="my-3">
        {{ form_row(form.slug) }}
    </div>
    <div class="my-3">
        {{ form_row(form.description) }}
    </div>

    <button class="btn btn-success mt-3">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
