{{ form_start(form) }}
    <div class="my-3">
        {{ form_row(form.user) }}
    </div>
    <div class="my-3">
        {{ form_row(form.status) }}
    </div>
    <div class="my-3">
        {{ form_row(form.totalPrice) }}
    </div>
    <div class="my-3">
        {{ form_row(form.paymentMethod) }}
    </div>
    <div class="my-3">
        {{ form_row(form.shippingName) }}
    </div>
    <div class="my-3">
        {{ form_row(form.shippingAddress) }}
    </div>

    <button class="btn btn-success mt-3">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
