{{ form_start(form) }}
    <div class="my-3">
        {{ form_row(form.email) }}
    </div>
    <div class="my-3">
        {{ form_row(form.roles) }}
    </div>
    {% if form.password is defined %}
        <div class="my-3">
            {{ form_row(form.password) }}
        </div>
    {% endif %}
    <div class="my-3">
        {{ form_row(form.isVerified) }}
    </div>

    <button class="btn btn-success mt-3">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
